
{% extends 'layout.html.twig' %}{% block main %}

    <h1 class="text-center">Gérer les campus</h1>
    <h2>Filtrer les campus</h2>

    <div class="recherche">
        <label for="start">Le nom contient :   </label>
        <input id="oSaisie" name="oSaisie" type="text" class="form-control" aria-label="Saisie de mots clés" required="required">
        <div class="input-group-append">
            <button TYPE="submit" class="btn btn-primary">Rechercher</button>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="campus list">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Campus</th>
                        <th scope="col">Actions</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>

                        <td>  <ul class="list-group">
                                {%  for camp in campusList %}



                                    <li class="list-group-item list-group-item-light">
                                        <a href="{{ path('main', {id: camp.id}) }}" > <span>{{ camp.libelle }}</span></a>
                                    </li>

                                {%  endfor %}
                            </ul>
                        </td>


                        <td>  <ul class="list-group">
                                {%  for camp in campusList %}



                                    <li  class="list-group-item list-group-item-light">

                                        <span ><a href="{{ path('campus_edit', {id: camp.id}) }}"> <span>Modifier</span></a></span>
                                        <span>&nbsp;</span>
                                        <span ><a href="{{ path('main', {id: camp.id}) }}"> <span>Supprimer</span></a></span>
                                    </li>

                                {%  endfor %}
                            </ul>
                        </td></tr>
                    </tbody>
                </table>


            </div>
        </div>
        <div class="row">
            {{ form_start(campusform) }}
            <div class="campus_site input-group mb-3">




                <div class="form-control">
                    <i class="fa fa-calendar"></i> {{ form_label(campusform.libelle) }}
                    {{ form_widget(campusform.libelle) }}

                    <small>{{ form_help(campusform.libelle) }}</small>

                    <div class="form-error">
                        {{ form_errors(campusform.libelle) }}
                    </div>
                </div>


                <div class="btn btn-action">
                    <button TYPE="submit" class="btn btn-primary">Enregistrer</button>
                </div>
            </div>
            {{ form_end(campusform) }}
        </div>

    </div>



    <div class="btn btn_back">
        <button type="button" onclick="goBack()" class="btn btn-primary">Retour</button>

    </div>
{% endblock %}{% block title %} Les sorties ! {% endblock %}

