{% extends 'layout.html.twig' %}

{% block main %}
    {{ form_start(lieuform) }}
    <h2 class="text-center" > Ajout d'un lieu </h2>
    <div class="form-group">

        {% form_theme lieuform 'bootstrap_4_layout.html.twig' %}
        {{  form_start(lieuform) }}


        {{ form_widget(lieuform) }}
        {{ form_errors(lieuform) }}

        <br>



        <button TYPE="submit" class="btn btn-primary">Valider</button>
        <button type="reset" class="btn btn-primary">Annuler</button>
        <button type="button" onclick="goBack()" class="btn btn-primary">Retour</button>
        {{ form_end(lieuform) }}
    </div>


{% endblock %}

{% block title %} Ajoutez votre lieu |{{ parent() }}{% endblock %}