{% extends 'layout.html.twig' %}

{% block main %}
    <h2> Afficher une sortie</h2>
<div class="container">
    <div class="row">
        <div class="col-sm">

            <div class="nom">
                <label for="start">Nom de la sortie</label>

            </div>

            <div class="event"> {{ event.nom }} </div>
        <div class="duree"> {{ event.duree }} </div>
        <div class="descriptioninfos"> {{ event.descriptioninfos }}</div>
        <div class="datedebut"> {{ event.datedebut|date("Y-m-d H:i:s") }} </div>
        <div class="datecloture"> {{ event.datecloture|date("Y-m-d H:i:s") }} </div>
        <div class="etatsortie"> {{ event.etatsortie }}</div>
            {%  for user in event.users %}
                {{ user.username }}
            {% endfor %}
            <div class="btn btn-user-edit">
                <a href="{{ path('evenement_suscribe', {event: event.id})}}"> <button type="button" class="btn btn-primary">S'inscrire</button> </a>
            </div>

    <div class="btn btn-user-edit">
        <a href="{{ path('evenement_edit', {id: event.id})}}"> <button type="button" class="btn btn-primary">Modifier</button> </a>
    </div>
    <div class="btn btn_back">
        <button type="button" onclick="goBack()" class="btn btn-primary">Retour</button>
    </div>






{% endblock %}

{% block title %} Les sorties ! {% endblock %}