{% extends ("layout.html.twig") %}
{%  block title %}
    Sortir.com | Profil
{% endblock %}
{%  block main %}

        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Pseudonyme</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Campus</th>
                </tr>
                </thead>
                <tbody>
    {% for profil in Users %}
                <tr>
                    <th scope="row"> {{ profil.id }}</th>
                    <td><a href="{{ path('user_profil', {id: profil.id}) }}">{{ profil.username }}</a></td>
                    <td>{{ profil.nom }}</td>
                    <td>{{ profil.prenom }}</td>
                    <td><a href="{{ path('campus', {id: profil.campus.id}) }}">{{ profil.campus.libelle }}</td>

                   </td >
                </tr>

    {% endfor %}
                </tbody>
            </table>
        </div>

    <div class="btn btn_back">
        <button type="button" onclick="goBack()" class="btn btn-primary">Retour</button>
    </div>


{% endblock %}
